assets/wsdl.xml

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="https://eptica.ezanas.com/eptica/services/PublicSessionServiceRPC" xmlns:intf="https://eptica.ezanas.com/eptica/services/PublicSessionServiceRPC" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:EpticaWebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://eptica.ezanas.com/eptica/services/PublicSessionServiceRPC">
    <!--
    WSDL created by Apache Axis version: 1.4
    Built on Apr 22, 2006 (06:55:48 PDT)
    -->
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="https://eptica.ezanas.com/eptica/services/PublicSessionServiceRPC">
            <import namespace="urn:EpticaWebServices"/>
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="ArrayOf_tns1_NodeString">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:NodeString[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="ArrayOf_xsd_string">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="ArrayOf_tns1_Ordering">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Ordering[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="ArrayOf_tns1_Session">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Session[]"/>
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:EpticaWebServices">
            <import namespace="https://eptica.ezanas.com/eptica/services/PublicSessionServiceRPC"/>
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="NodeString">
                <sequence>
                    <element name="children" nillable="true" type="impl:ArrayOf_tns1_NodeString"/>
                    <element name="key" nillable="true" type="xsd:string"/>
                    <element name="valueAsString" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="ApplicationInstance">
                <sequence>
                    <element name="application" nillable="true" type="xsd:string"/>
                    <element name="extraInfos" nillable="true" type="tns1:NodeString"/>
                    <element name="instanceName" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="SessionCloser">
                <sequence>
                    <element name="accountId" nillable="true" type="xsd:string"/>
                    <element name="extraInfos" nillable="true" type="tns1:NodeString"/>
                    <element name="instance" nillable="true" type="tns1:ApplicationInstance"/>
                </sequence>
            </complexType>
            <complexType name="OperationFailedException">
                <sequence>
                    <element name="details" nillable="true" type="impl:ArrayOf_xsd_string"/>
                    <element name="id" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="SessionOpener">
                <sequence>
                    <element name="accountId" nillable="true" type="xsd:string"/>
                    <element name="extraInfos" nillable="true" type="tns1:NodeString"/>
                    <element name="initialState" nillable="true" type="xsd:string"/>
                    <element name="instance" nillable="true" type="tns1:ApplicationInstance"/>
                    <element name="timeoutInSeconds" nillable="true" type="xsd:long"/>
                </sequence>
            </complexType>
            <complexType name="Pacemaker">
                <sequence>
                    <element name="accountIds" nillable="true" type="impl:ArrayOf_xsd_string"/>
                    <element name="extraInfos" nillable="true" type="tns1:NodeString"/>
                    <element name="failureStrategy" nillable="true" type="xsd:string"/>
                    <element name="instance" nillable="true" type="tns1:ApplicationInstance"/>
                </sequence>
            </complexType>
            <complexType name="SessionFilter">
                <sequence>
                    <element name="accountId" nillable="true" type="xsd:string"/>
                    <element name="application" nillable="true" type="xsd:string"/>
                    <element name="extraInfos" nillable="true" type="tns1:NodeString"/>
                    <element name="instanceName" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="Ordering">
                <sequence>
                    <element name="ascending" nillable="true" type="xsd:boolean"/>
                    <element name="name" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="Paging">
                <sequence>
                    <element name="extraInfos" nillable="true" type="tns1:NodeString"/>
                    <element name="limit" nillable="true" type="xsd:int"/>
                    <element name="offset" nillable="true" type="xsd:int"/>
                    <element name="orderings" nillable="true" type="impl:ArrayOf_tns1_Ordering"/>
                </sequence>
            </complexType>
            <complexType name="SessionView">
                <sequence>
                    <element name="accountIdOnly" nillable="true" type="xsd:boolean"/>
                    <element name="extraInfos" nillable="true" type="tns1:NodeString"/>
                    <element name="includeDates" nillable="true" type="xsd:boolean"/>
                    <element name="includeInstance" nillable="true" type="xsd:boolean"/>
                </sequence>
            </complexType>
            <complexType name="Session">
                <sequence>
                    <element name="accountId" nillable="true" type="xsd:string"/>
                    <element name="creationDate" nillable="true" type="xsd:long"/>
                    <element name="extraInfos" nillable="true" type="tns1:NodeString"/>
                    <element name="instance" nillable="true" type="tns1:ApplicationInstance"/>
                    <element name="lastTickDate" nillable="true" type="xsd:long"/>
                    <element name="timeoutInSeconds" nillable="true" type="xsd:long"/>
                </sequence>
            </complexType>
            <complexType name="SessionFinderResult">
                <sequence>
                    <element name="extraInfos" nillable="true" type="tns1:NodeString"/>
                    <element name="sessions" nillable="true" type="impl:ArrayOf_tns1_Session"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>
    <wsdl:message name="heartBeatRequest">
        <wsdl:part name="pacemaker" type="tns1:Pacemaker"/>
    </wsdl:message>
    <wsdl:message name="findSessionsResponse">
        <wsdl:part name="findSessionsReturn" type="tns1:SessionFinderResult"/>
    </wsdl:message>
    <wsdl:message name="closeSessionResponse"></wsdl:message>
    <wsdl:message name="findSessionsRequest">
        <wsdl:part name="filter" type="tns1:SessionFilter"/>
        <wsdl:part name="paging" type="tns1:Paging"/>
        <wsdl:part name="view" type="tns1:SessionView"/>
    </wsdl:message>
    <wsdl:message name="closeSessionRequest">
        <wsdl:part name="closer" type="tns1:SessionCloser"/>
    </wsdl:message>
    <wsdl:message name="OperationFailedException">
        <wsdl:part name="fault" type="tns1:OperationFailedException"/>
    </wsdl:message>
    <wsdl:message name="heartBeatResponse"></wsdl:message>
    <wsdl:message name="openSessionRequest">
        <wsdl:part name="opener" type="tns1:SessionOpener"/>
    </wsdl:message>
    <wsdl:message name="openSessionResponse"></wsdl:message>
    <wsdl:portType name="SessionManagerImpl">
        <wsdl:operation name="closeSession" parameterOrder="closer">
            <wsdl:input message="impl:closeSessionRequest" name="closeSessionRequest"/>
            <wsdl:output message="impl:closeSessionResponse" name="closeSessionResponse"/>
            <wsdl:fault message="impl:OperationFailedException" name="OperationFailedException"/>
        </wsdl:operation>
        <wsdl:operation name="openSession" parameterOrder="opener">
            <wsdl:input message="impl:openSessionRequest" name="openSessionRequest"/>
            <wsdl:output message="impl:openSessionResponse" name="openSessionResponse"/>
            <wsdl:fault message="impl:OperationFailedException" name="OperationFailedException"/>
        </wsdl:operation>
        <wsdl:operation name="heartBeat" parameterOrder="pacemaker">
            <wsdl:input message="impl:heartBeatRequest" name="heartBeatRequest"/>
            <wsdl:output message="impl:heartBeatResponse" name="heartBeatResponse"/>
            <wsdl:fault message="impl:OperationFailedException" name="OperationFailedException"/>
        </wsdl:operation>
        <wsdl:operation name="findSessions" parameterOrder="filter paging view">
            <wsdl:input message="impl:findSessionsRequest" name="findSessionsRequest"/>
            <wsdl:output message="impl:findSessionsResponse" name="findSessionsResponse"/>
            <wsdl:fault message="impl:OperationFailedException" name="OperationFailedException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PublicSessionServiceRPCSoapBinding" type="impl:SessionManagerImpl">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="closeSession">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="closeSessionRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://impl.manager.session.v1.apihlpublic.MWC.eptica.com" use="encoded"/>
            </wsdl:input>
            <wsdl:output name="closeSessionResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://eptica.ezanas.com/eptica/services/PublicSessionServiceRPC" use="encoded"/>
            </wsdl:output>
            <wsdl:fault name="OperationFailedException">
                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="OperationFailedException" namespace="https://eptica.ezanas.com/eptica/services/PublicSessionServiceRPC" use="encoded"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="openSession">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="openSessionRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://impl.manager.session.v1.apihlpublic.MWC.eptica.com" use="encoded"/>
            </wsdl:input>
            <wsdl:output name="openSessionResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://eptica.ezanas.com/eptica/services/PublicSessionServiceRPC" use="encoded"/>
            </wsdl:output>
            <wsdl:fault name="OperationFailedException">
                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="OperationFailedException" namespace="https://eptica.ezanas.com/eptica/services/PublicSessionServiceRPC" use="encoded"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="heartBeat">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="heartBeatRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://impl.manager.session.v1.apihlpublic.MWC.eptica.com" use="encoded"/>
            </wsdl:input>
            <wsdl:output name="heartBeatResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://eptica.ezanas.com/eptica/services/PublicSessionServiceRPC" use="encoded"/>
            </wsdl:output>
            <wsdl:fault name="OperationFailedException">
                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="OperationFailedException" namespace="https://eptica.ezanas.com/eptica/services/PublicSessionServiceRPC" use="encoded"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findSessions">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="findSessionsRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://impl.manager.session.v1.apihlpublic.MWC.eptica.com" use="encoded"/>
            </wsdl:input>
            <wsdl:output name="findSessionsResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://eptica.ezanas.com/eptica/services/PublicSessionServiceRPC" use="encoded"/>
            </wsdl:output>
            <wsdl:fault name="OperationFailedException">
                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="OperationFailedException" namespace="https://eptica.ezanas.com/eptica/services/PublicSessionServiceRPC" use="encoded"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SessionManagerImplService">
        <wsdl:port binding="impl:PublicSessionServiceRPCSoapBinding" name="PublicSessionServiceRPC">
            <wsdlsoap:address location="https://eptica.ezanas.com/eptica/services/PublicSessionServiceRPC"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>